<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mkpenc.dcc.status.mapper.DccStatusMapper">

	<update id="updateMemberInfo" parameterType="DccSearchStatus">
   		UPDATE MST_USER
   		SET
   		 	 LOGIN = 'Y'
   		 	 , USERIP = #{userIp}
   		 	 , CONNTIME = GETDATE()
   		 	 , LOGINHOGI = #{hogi}
   		WHERE ID = #{userId}
    </update>
    
    <select id="selectScanTime" parameterType="DccSearchStatus" resultType="java.lang.String">
    	SELECT
			Convert(varchar,ScanTime,120) AS scanTime
		FROM LOG_Timer
    	WHERE Gubun = 'D'
		AND Hogi = #{hogi}
		AND DataType = #{xyGubun}
    </select>
    
    <select id="selectTblFldNo" parameterType="DccSearchStatus" resultType="TblFldInfo">
		SELECT
			C.TBLNO,
			C.FLDNO
		FROM MST_GRPTAG B, MST_TAG_DCC C
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			AND B.HOGI = C.IHOGI
			<if test='@org.apache.commons.lang3.StringUtils@equalsIgnoreCase(xyGubun,"X")'>
				AND B.ISEQ = C.ISEQ
			</if>
			<if test='@org.apache.commons.lang3.StringUtils@containsNone(xyGubun,"X") and @org.apache.commons.lang3.StringUtils@containsNone(xyGubun,"x")'>
				AND B.YSEQ = C.ISEQ
			</if>
			AND B.Gubun = 'D'
			AND B.GrpHogi = #{hogi}
			AND B.ID = #{grpId}
			AND B.MenuNo = #{menuNo}
			AND B.GrpNo = #{grpNo}
		</trim>
		ORDER BY B.TAGNO
    </select>
    
    <select id="selectLogTrend" parameterType="DccSearchStatus" resultType="DccLogTrendInfo">
    	SELECT
    		SCANTIME, SEQ
    		<if test='@org.apache.commons.lang3.StringUtils@equals(menuNo,"11") and @org.apache.commons.lang3.StringUtils@equals(grpNo,"2")'>
    		,RTRIM(LTRIM(STR(TVALUE1,24,24))) AS TVALUE1, RTRIM(LTRIM(STR(TVALUE2,24,24))) AS TVALUE2
			,RTRIM(LTRIM(STR(TVALUE3,24,24))) AS TVALUE3, RTRIM(LTRIM(STR(TVALUE4,24,24))) AS TVALUE4
			,RTRIM(LTRIM(STR(TVALUE5,24,24))) AS TVALUE5, RTRIM(LTRIM(STR(TVALUE6,24,24))) AS TVALUE6
			,RTRIM(LTRIM(STR(TVALUE7,24,24))) AS TVALUE7, RTRIM(LTRIM(STR(TVALUE8,24,24))) AS TVALUE8
			,RTRIM(LTRIM(STR(TVALUE9,24,24))) AS TVALUE9, RTRIM(LTRIM(STR(TVALUE10,24,24))) AS TVALUE10
			,RTRIM(LTRIM(STR(TVALUE11,24,24))) AS TVALUE11, RTRIM(LTRIM(STR(TVALUE12,24,24))) AS TVALUE12
			,RTRIM(LTRIM(STR(TVALUE13,24,24))) AS TVALUE13, RTRIM(LTRIM(STR(TVALUE14,24,24))) AS TVALUE14
			,RTRIM(LTRIM(STR(TVALUE15,24,24))) AS TVALUE15, RTRIM(LTRIM(STR(TVALUE16,24,24))) AS TVALUE16
			,RTRIM(LTRIM(STR(TVALUE17,24,24))) AS TVALUE17, RTRIM(LTRIM(STR(TVALUE18,24,24))) AS TVALUE18
			,RTRIM(LTRIM(STR(TVALUE19,24,24))) AS TVALUE19, RTRIM(LTRIM(STR(TVALUE20,24,24))) AS TVALUE20
			,RTRIM(LTRIM(STR(TVALUE21,24,24))) AS TVALUE21, RTRIM(LTRIM(STR(TVALUE22,24,24))) AS TVALUE22
			,RTRIM(LTRIM(STR(TVALUE23,24,24))) AS TVALUE23, RTRIM(LTRIM(STR(TVALUE24,24,24))) AS TVALUE24
			,RTRIM(LTRIM(STR(TVALUE25,24,24))) AS TVALUE25, RTRIM(LTRIM(STR(TVALUE26,24,24))) AS TVALUE26
			,RTRIM(LTRIM(STR(TVALUE27,24,24))) AS TVALUE27, RTRIM(LTRIM(STR(TVALUE28,24,24))) AS TVALUE28
			</if>
			<if test='@org.apache.commons.lang3.StringUtils@equals(menuNo,"11") and @org.apache.commons.lang3.StringUtils@equals(grpNo,"3")'>
    		,RTRIM(LTRIM(STR(TVALUE1,24,24))) AS TVALUE1, RTRIM(LTRIM(STR(TVALUE2,24,24))) AS TVALUE2
			,RTRIM(LTRIM(STR(TVALUE3,24,24))) AS TVALUE3, RTRIM(LTRIM(STR(TVALUE4,24,24))) AS TVALUE4
			,RTRIM(LTRIM(STR(TVALUE5,24,24))) AS TVALUE5, RTRIM(LTRIM(STR(TVALUE6,24,24))) AS TVALUE6
			,RTRIM(LTRIM(STR(TVALUE7,24,24))) AS TVALUE7, RTRIM(LTRIM(STR(TVALUE8,24,24))) AS TVALUE8
			,RTRIM(LTRIM(STR(TVALUE9,24,24))) AS TVALUE9, RTRIM(LTRIM(STR(TVALUE10,24,24))) AS TVALUE10
			,RTRIM(LTRIM(STR(TVALUE11,24,24))) AS TVALUE11, RTRIM(LTRIM(STR(TVALUE12,24,24))) AS TVALUE12
			,RTRIM(LTRIM(STR(TVALUE13,24,24))) AS TVALUE13, RTRIM(LTRIM(STR(TVALUE14,24,24))) AS TVALUE14
			,RTRIM(LTRIM(STR(TVALUE15,24,24))) AS TVALUE15, RTRIM(LTRIM(STR(TVALUE16,24,24))) AS TVALUE16
			,RTRIM(LTRIM(STR(TVALUE17,24,24))) AS TVALUE17, RTRIM(LTRIM(STR(TVALUE18,24,24))) AS TVALUE18
			,RTRIM(LTRIM(STR(TVALUE19,24,24))) AS TVALUE19, RTRIM(LTRIM(STR(TVALUE20,24,24))) AS TVALUE20
			,RTRIM(LTRIM(STR(TVALUE21,24,24))) AS TVALUE21, RTRIM(LTRIM(STR(TVALUE22,24,24))) AS TVALUE22
			,RTRIM(LTRIM(STR(TVALUE23,24,24))) AS TVALUE23, RTRIM(LTRIM(STR(TVALUE24,24,24))) AS TVALUE24
			,RTRIM(LTRIM(STR(TVALUE25,24,24))) AS TVALUE25, RTRIM(LTRIM(STR(TVALUE26,24,24))) AS TVALUE26
			,RTRIM(LTRIM(STR(TVALUE27,24,24))) AS TVALUE27, RTRIM(LTRIM(STR(TVALUE28,24,24))) AS TVALUE28
			,RTRIM(LTRIM(STR(TVALUE29,24,24))) AS TVALUE29, RTRIM(LTRIM(STR(TVALUE30,24,24))) AS TVALUE30
			,RTRIM(LTRIM(STR(TVALUE31,24,24))) AS TVALUE31, RTRIM(LTRIM(STR(TVALUE32,24,24))) AS TVALUE32
			,RTRIM(LTRIM(STR(TVALUE33,24,24))) AS TVALUE33, RTRIM(LTRIM(STR(TVALUE34,24,24))) AS TVALUE34
			,RTRIM(LTRIM(STR(TVALUE35,24,24))) AS TVALUE35, RTRIM(LTRIM(STR(TVALUE36,24,24))) AS TVALUE36
			</if>
			<if test='@org.apache.commons.lang3.StringUtils@equals(menuNo,"11") and @org.apache.commons.lang3.StringUtils@equals(grpNo,"4")'>
    		,RTRIM(LTRIM(STR(TVALUE1,24,24))) AS TVALUE1, RTRIM(LTRIM(STR(TVALUE2,24,24))) AS TVALUE2
			,RTRIM(LTRIM(STR(TVALUE3,24,24))) AS TVALUE3, RTRIM(LTRIM(STR(TVALUE4,24,24))) AS TVALUE4
			,RTRIM(LTRIM(STR(TVALUE5,24,24))) AS TVALUE5, RTRIM(LTRIM(STR(TVALUE6,24,24))) AS TVALUE6
			,RTRIM(LTRIM(STR(TVALUE7,24,24))) AS TVALUE7, RTRIM(LTRIM(STR(TVALUE8,24,24))) AS TVALUE8
			,RTRIM(LTRIM(STR(TVALUE9,24,24))) AS TVALUE9, RTRIM(LTRIM(STR(TVALUE10,24,24))) AS TVALUE10
			,RTRIM(LTRIM(STR(TVALUE11,24,24))) AS TVALUE11, RTRIM(LTRIM(STR(TVALUE12,24,24))) AS TVALUE12
			,RTRIM(LTRIM(STR(TVALUE13,24,24))) AS TVALUE13, RTRIM(LTRIM(STR(TVALUE14,24,24))) AS TVALUE14
			,RTRIM(LTRIM(STR(TVALUE15,24,24))) AS TVALUE15
			</if>
			<if test='@org.apache.commons.lang3.StringUtils@equals(menuNo,"11") and @org.apache.commons.lang3.StringUtils@equals(grpNo,"5")'>
    		,RTRIM(LTRIM(STR(TVALUE1,24,24))) AS TVALUE1, RTRIM(LTRIM(STR(TVALUE2,24,24))) AS TVALUE2
			,RTRIM(LTRIM(STR(TVALUE3,24,24))) AS TVALUE3, RTRIM(LTRIM(STR(TVALUE4,24,24))) AS TVALUE4
			,RTRIM(LTRIM(STR(TVALUE5,24,24))) AS TVALUE5, RTRIM(LTRIM(STR(TVALUE6,24,24))) AS TVALUE6
			,RTRIM(LTRIM(STR(TVALUE7,24,24))) AS TVALUE7, RTRIM(LTRIM(STR(TVALUE8,24,24))) AS TVALUE8
			,RTRIM(LTRIM(STR(TVALUE9,24,24))) AS TVALUE9, RTRIM(LTRIM(STR(TVALUE10,24,24))) AS TVALUE10
			,RTRIM(LTRIM(STR(TVALUE11,24,24))) AS TVALUE11, RTRIM(LTRIM(STR(TVALUE12,24,24))) AS TVALUE12
			,RTRIM(LTRIM(STR(TVALUE13,24,24))) AS TVALUE13, RTRIM(LTRIM(STR(TVALUE14,24,24))) AS TVALUE14
			,RTRIM(LTRIM(STR(TVALUE15,24,24))) AS TVALUE15, RTRIM(LTRIM(STR(TVALUE16,24,24))) AS TVALUE16
			,RTRIM(LTRIM(STR(TVALUE17,24,24))) AS TVALUE17, RTRIM(LTRIM(STR(TVALUE18,24,24))) AS TVALUE18
			,RTRIM(LTRIM(STR(TVALUE19,24,24))) AS TVALUE19, RTRIM(LTRIM(STR(TVALUE20,24,24))) AS TVALUE20
			</if>
			<if test='@org.apache.commons.lang3.StringUtils@equals(menuNo,"11") and @org.apache.commons.lang3.StringUtils@equals(grpNo,"6")'>
    		,RTRIM(LTRIM(STR(TVALUE1,24,24))) AS TVALUE1, RTRIM(LTRIM(STR(TVALUE2,24,24))) AS TVALUE2
			,RTRIM(LTRIM(STR(TVALUE3,24,24))) AS TVALUE3, RTRIM(LTRIM(STR(TVALUE4,24,24))) AS TVALUE4
			,RTRIM(LTRIM(STR(TVALUE5,24,24))) AS TVALUE5, RTRIM(LTRIM(STR(TVALUE6,24,24))) AS TVALUE6
			,RTRIM(LTRIM(STR(TVALUE7,24,24))) AS TVALUE7, RTRIM(LTRIM(STR(TVALUE8,24,24))) AS TVALUE8
			,RTRIM(LTRIM(STR(TVALUE9,24,24))) AS TVALUE9, RTRIM(LTRIM(STR(TVALUE10,24,24))) AS TVALUE10
			,RTRIM(LTRIM(STR(TVALUE11,24,24))) AS TVALUE11, RTRIM(LTRIM(STR(TVALUE12,24,24))) AS TVALUE12
			,RTRIM(LTRIM(STR(TVALUE13,24,24))) AS TVALUE13, RTRIM(LTRIM(STR(TVALUE14,24,24))) AS TVALUE14
			,RTRIM(LTRIM(STR(TVALUE15,24,24))) AS TVALUE15, RTRIM(LTRIM(STR(TVALUE16,24,24))) AS TVALUE16
			,RTRIM(LTRIM(STR(TVALUE17,24,24))) AS TVALUE17, RTRIM(LTRIM(STR(TVALUE18,24,24))) AS TVALUE18
			,RTRIM(LTRIM(STR(TVALUE19,24,24))) AS TVALUE19, RTRIM(LTRIM(STR(TVALUE20,24,24))) AS TVALUE20
			,RTRIM(LTRIM(STR(TVALUE21,24,24))) AS TVALUE21, RTRIM(LTRIM(STR(TVALUE22,24,24))) AS TVALUE22
			,RTRIM(LTRIM(STR(TVALUE23,24,24))) AS TVALUE23, RTRIM(LTRIM(STR(TVALUE24,24,24))) AS TVALUE24
			,RTRIM(LTRIM(STR(TVALUE25,24,24))) AS TVALUE25, RTRIM(LTRIM(STR(TVALUE26,24,24))) AS TVALUE26
			,RTRIM(LTRIM(STR(TVALUE27,24,24))) AS TVALUE27, RTRIM(LTRIM(STR(TVALUE28,24,24))) AS TVALUE28
			,RTRIM(LTRIM(STR(TVALUE29,24,24))) AS TVALUE29, RTRIM(LTRIM(STR(TVALUE30,24,24))) AS TVALUE30
			,RTRIM(LTRIM(STR(TVALUE31,24,24))) AS TVALUE31, RTRIM(LTRIM(STR(TVALUE32,24,24))) AS TVALUE32
			,RTRIM(LTRIM(STR(TVALUE33,24,24))) AS TVALUE33, RTRIM(LTRIM(STR(TVALUE34,24,24))) AS TVALUE34
			,RTRIM(LTRIM(STR(TVALUE35,24,24))) AS TVALUE35, RTRIM(LTRIM(STR(TVALUE36,24,24))) AS TVALUE36
			,RTRIM(LTRIM(STR(TVALUE37,24,24))) AS TVALUE37, RTRIM(LTRIM(STR(TVALUE38,24,24))) AS TVALUE38
			,RTRIM(LTRIM(STR(TVALUE39,24,24))) AS TVALUE39, RTRIM(LTRIM(STR(TVALUE40,24,24))) AS TVALUE40
			,RTRIM(LTRIM(STR(TVALUE41,24,24))) AS TVALUE41, RTRIM(LTRIM(STR(TVALUE42,24,24))) AS TVALUE42
			,RTRIM(LTRIM(STR(TVALUE43,24,24))) AS TVALUE43, RTRIM(LTRIM(STR(TVALUE44,24,24))) AS TVALUE44
			,RTRIM(LTRIM(STR(TVALUE45,24,24))) AS TVALUE45, RTRIM(LTRIM(STR(TVALUE46,24,24))) AS TVALUE46
			,RTRIM(LTRIM(STR(TVALUE47,24,24))) AS TVALUE47, RTRIM(LTRIM(STR(TVALUE48,24,24))) AS TVALUE48
			,RTRIM(LTRIM(STR(TVALUE49,24,24))) AS TVALUE49, RTRIM(LTRIM(STR(TVALUE50,24,24))) AS TVALUE50
			,RTRIM(LTRIM(STR(TVALUE51,24,24))) AS TVALUE51, RTRIM(LTRIM(STR(TVALUE52,24,24))) AS TVALUE52
			,RTRIM(LTRIM(STR(TVALUE53,24,24))) AS TVALUE53, RTRIM(LTRIM(STR(TVALUE54,24,24))) AS TVALUE54
			,RTRIM(LTRIM(STR(TVALUE55,24,24))) AS TVALUE55, RTRIM(LTRIM(STR(TVALUE56,24,24))) AS TVALUE56
			,RTRIM(LTRIM(STR(TVALUE57,24,24))) AS TVALUE57, RTRIM(LTRIM(STR(TVALUE58,24,24))) AS TVALUE58
			,RTRIM(LTRIM(STR(TVALUE59,24,24))) AS TVALUE59, RTRIM(LTRIM(STR(TVALUE60,24,24))) AS TVALUE60
			,RTRIM(LTRIM(STR(TVALUE61,24,24))) AS TVALUE61, RTRIM(LTRIM(STR(TVALUE62,24,24))) AS TVALUE62
			,RTRIM(LTRIM(STR(TVALUE63,24,24))) AS TVALUE63, RTRIM(LTRIM(STR(TVALUE64,24,24))) AS TVALUE64
			</if>
			<if test='@org.apache.commons.lang3.StringUtils@equals(menuNo,"11") and @org.apache.commons.lang3.StringUtils@equals(grpNo,"7")'>
    		,RTRIM(LTRIM(STR(TVALUE1,24,24))) AS TVALUE1, RTRIM(LTRIM(STR(TVALUE2,24,24))) AS TVALUE2
			,RTRIM(LTRIM(STR(TVALUE3,24,24))) AS TVALUE3, RTRIM(LTRIM(STR(TVALUE4,24,24))) AS TVALUE4
			,RTRIM(LTRIM(STR(TVALUE5,24,24))) AS TVALUE5, RTRIM(LTRIM(STR(TVALUE6,24,24))) AS TVALUE6
			,RTRIM(LTRIM(STR(TVALUE7,24,24))) AS TVALUE7, RTRIM(LTRIM(STR(TVALUE8,24,24))) AS TVALUE8
			,RTRIM(LTRIM(STR(TVALUE9,24,24))) AS TVALUE9, RTRIM(LTRIM(STR(TVALUE10,24,24))) AS TVALUE10
			,RTRIM(LTRIM(STR(TVALUE11,24,24))) AS TVALUE11, RTRIM(LTRIM(STR(TVALUE12,24,24))) AS TVALUE12
			,RTRIM(LTRIM(STR(TVALUE13,24,24))) AS TVALUE13, RTRIM(LTRIM(STR(TVALUE14,24,24))) AS TVALUE14
			,RTRIM(LTRIM(STR(TVALUE15,24,24))) AS TVALUE15, RTRIM(LTRIM(STR(TVALUE16,24,24))) AS TVALUE16
			,RTRIM(LTRIM(STR(TVALUE17,24,24))) AS TVALUE17, RTRIM(LTRIM(STR(TVALUE18,24,24))) AS TVALUE18
			,RTRIM(LTRIM(STR(TVALUE19,24,24))) AS TVALUE19, RTRIM(LTRIM(STR(TVALUE20,24,24))) AS TVALUE20
			,RTRIM(LTRIM(STR(TVALUE21,24,24))) AS TVALUE21, RTRIM(LTRIM(STR(TVALUE22,24,24))) AS TVALUE22
			,RTRIM(LTRIM(STR(TVALUE23,24,24))) AS TVALUE23, RTRIM(LTRIM(STR(TVALUE24,24,24))) AS TVALUE24
			,RTRIM(LTRIM(STR(TVALUE25,24,24))) AS TVALUE25, RTRIM(LTRIM(STR(TVALUE26,24,24))) AS TVALUE26
			,RTRIM(LTRIM(STR(TVALUE27,24,24))) AS TVALUE27, RTRIM(LTRIM(STR(TVALUE28,24,24))) AS TVALUE28
			,RTRIM(LTRIM(STR(TVALUE29,24,24))) AS TVALUE29, RTRIM(LTRIM(STR(TVALUE30,24,24))) AS TVALUE30
			,RTRIM(LTRIM(STR(TVALUE31,24,24))) AS TVALUE31, RTRIM(LTRIM(STR(TVALUE32,24,24))) AS TVALUE32
			,RTRIM(LTRIM(STR(TVALUE33,24,24))) AS TVALUE33, RTRIM(LTRIM(STR(TVALUE34,24,24))) AS TVALUE34
			,RTRIM(LTRIM(STR(TVALUE35,24,24))) AS TVALUE35, RTRIM(LTRIM(STR(TVALUE36,24,24))) AS TVALUE36
			,RTRIM(LTRIM(STR(TVALUE37,24,24))) AS TVALUE37, RTRIM(LTRIM(STR(TVALUE38,24,24))) AS TVALUE38
			,RTRIM(LTRIM(STR(TVALUE39,24,24))) AS TVALUE39, RTRIM(LTRIM(STR(TVALUE40,24,24))) AS TVALUE40
			,RTRIM(LTRIM(STR(TVALUE41,24,24))) AS TVALUE41, RTRIM(LTRIM(STR(TVALUE42,24,24))) AS TVALUE42
			,RTRIM(LTRIM(STR(TVALUE43,24,24))) AS TVALUE43, RTRIM(LTRIM(STR(TVALUE44,24,24))) AS TVALUE44
			,RTRIM(LTRIM(STR(TVALUE45,24,24))) AS TVALUE45, RTRIM(LTRIM(STR(TVALUE46,24,24))) AS TVALUE46
			,RTRIM(LTRIM(STR(TVALUE47,24,24))) AS TVALUE47, RTRIM(LTRIM(STR(TVALUE48,24,24))) AS TVALUE48
			,RTRIM(LTRIM(STR(TVALUE49,24,24))) AS TVALUE49, RTRIM(LTRIM(STR(TVALUE50,24,24))) AS TVALUE50
			,RTRIM(LTRIM(STR(TVALUE51,24,24))) AS TVALUE51, RTRIM(LTRIM(STR(TVALUE52,24,24))) AS TVALUE52
			,RTRIM(LTRIM(STR(TVALUE53,24,24))) AS TVALUE53, RTRIM(LTRIM(STR(TVALUE54,24,24))) AS TVALUE54
			,RTRIM(LTRIM(STR(TVALUE55,24,24))) AS TVALUE55, RTRIM(LTRIM(STR(TVALUE56,24,24))) AS TVALUE56
			,RTRIM(LTRIM(STR(TVALUE57,24,24))) AS TVALUE57, RTRIM(LTRIM(STR(TVALUE58,24,24))) AS TVALUE58
			,RTRIM(LTRIM(STR(TVALUE59,24,24))) AS TVALUE59, RTRIM(LTRIM(STR(TVALUE60,24,24))) AS TVALUE60
			</if>
			<if test='@org.apache.commons.lang3.StringUtils@equals(menuNo,"11") and @org.apache.commons.lang3.StringUtils@equals(grpNo,"12")'>
			,RTRIM(LTRIM(STR(TVALUE1,24,24))) AS TVALUE1, RTRIM(LTRIM(STR(TVALUE2,24,24))) AS TVALUE2
			,RTRIM(LTRIM(STR(TVALUE3,24,24))) AS TVALUE3, RTRIM(LTRIM(STR(TVALUE4,24,24))) AS TVALUE4
			,RTRIM(LTRIM(STR(TVALUE5,24,24))) AS TVALUE5, RTRIM(LTRIM(STR(TVALUE6,24,24))) AS TVALUE6
			,RTRIM(LTRIM(STR(TVALUE7,24,24))) AS TVALUE7, RTRIM(LTRIM(STR(TVALUE8,24,24))) AS TVALUE8
			,RTRIM(LTRIM(STR(TVALUE9,24,24))) AS TVALUE9, RTRIM(LTRIM(STR(TVALUE10,24,24))) AS TVALUE10
			,RTRIM(LTRIM(STR(TVALUE11,24,24))) AS TVALUE11, RTRIM(LTRIM(STR(TVALUE12,24,24))) AS TVALUE12
			,RTRIM(LTRIM(STR(TVALUE13,24,24))) AS TVALUE13, RTRIM(LTRIM(STR(TVALUE14,24,24))) AS TVALUE14
			,RTRIM(LTRIM(STR(TVALUE15,24,24))) AS TVALUE15, RTRIM(LTRIM(STR(TVALUE16,24,24))) AS TVALUE16
			,RTRIM(LTRIM(STR(TVALUE17,24,24))) AS TVALUE17, RTRIM(LTRIM(STR(TVALUE18,24,24))) AS TVALUE18
			,RTRIM(LTRIM(STR(TVALUE19,24,24))) AS TVALUE19, RTRIM(LTRIM(STR(TVALUE20,24,24))) AS TVALUE20
			,RTRIM(LTRIM(STR(TVALUE21,24,24))) AS TVALUE21, RTRIM(LTRIM(STR(TVALUE22,24,24))) AS TVALUE22
			,RTRIM(LTRIM(STR(TVALUE23,24,24))) AS TVALUE23, RTRIM(LTRIM(STR(TVALUE24,24,24))) AS TVALUE24
			,RTRIM(LTRIM(STR(TVALUE25,24,24))) AS TVALUE25, RTRIM(LTRIM(STR(TVALUE26,24,24))) AS TVALUE26
			,RTRIM(LTRIM(STR(TVALUE27,24,24))) AS TVALUE27, RTRIM(LTRIM(STR(TVALUE28,24,24))) AS TVALUE28
			,RTRIM(LTRIM(STR(TVALUE29,24,24))) AS TVALUE29, RTRIM(LTRIM(STR(TVALUE30,24,24))) AS TVALUE30
			,RTRIM(LTRIM(STR(TVALUE31,24,24))) AS TVALUE31, RTRIM(LTRIM(STR(TVALUE32,24,24))) AS TVALUE32
			,RTRIM(LTRIM(STR(TVALUE33,24,24))) AS TVALUE33, RTRIM(LTRIM(STR(TVALUE34,24,24))) AS TVALUE34
			,RTRIM(LTRIM(STR(TVALUE35,24,24))) AS TVALUE35, RTRIM(LTRIM(STR(TVALUE36,24,24))) AS TVALUE36
			,RTRIM(LTRIM(STR(TVALUE37,24,24))) AS TVALUE37, RTRIM(LTRIM(STR(TVALUE38,24,24))) AS TVALUE38
			,RTRIM(LTRIM(STR(TVALUE39,24,24))) AS TVALUE39, RTRIM(LTRIM(STR(TVALUE40,24,24))) AS TVALUE40
			,RTRIM(LTRIM(STR(TVALUE41,24,24))) AS TVALUE41, RTRIM(LTRIM(STR(TVALUE42,24,24))) AS TVALUE42
			,RTRIM(LTRIM(STR(TVALUE43,24,24))) AS TVALUE43, RTRIM(LTRIM(STR(TVALUE44,24,24))) AS TVALUE44
			,RTRIM(LTRIM(STR(TVALUE45,24,24))) AS TVALUE45, RTRIM(LTRIM(STR(TVALUE46,24,24))) AS TVALUE46
			,RTRIM(LTRIM(STR(TVALUE47,24,24))) AS TVALUE47, RTRIM(LTRIM(STR(TVALUE48,24,24))) AS TVALUE48
			,RTRIM(LTRIM(STR(TVALUE49,24,24))) AS TVALUE49, RTRIM(LTRIM(STR(TVALUE50,24,24))) AS TVALUE50
			,RTRIM(LTRIM(STR(TVALUE51,24,24))) AS TVALUE51, RTRIM(LTRIM(STR(TVALUE52,24,24))) AS TVALUE52
			,RTRIM(LTRIM(STR(TVALUE53,24,24))) AS TVALUE53, RTRIM(LTRIM(STR(TVALUE54,24,24))) AS TVALUE54
			,RTRIM(LTRIM(STR(TVALUE55,24,24))) AS TVALUE55, RTRIM(LTRIM(STR(TVALUE56,24,24))) AS TVALUE56
			,RTRIM(LTRIM(STR(TVALUE57,24,24))) AS TVALUE57, RTRIM(LTRIM(STR(TVALUE58,24,24))) AS TVALUE58
			,RTRIM(LTRIM(STR(TVALUE59,24,24))) AS TVALUE59, RTRIM(LTRIM(STR(TVALUE60,24,24))) AS TVALUE60
			,RTRIM(LTRIM(STR(TVALUE61,24,24))) AS TVALUE61, RTRIM(LTRIM(STR(TVALUE62,24,24))) AS TVALUE62
			,RTRIM(LTRIM(STR(TVALUE63,24,24))) AS TVALUE63, RTRIM(LTRIM(STR(TVALUE64,24,24))) AS TVALUE64
			,RTRIM(LTRIM(STR(TVALUE65,24,24))) AS TVALUE65, RTRIM(LTRIM(STR(TVALUE66,24,24))) AS TVALUE66
			,RTRIM(LTRIM(STR(TVALUE67,24,24))) AS TVALUE67
			</if>
			<if test='@org.apache.commons.lang3.StringUtils@equals(menuNo,"11") and @org.apache.commons.lang3.StringUtils@equals(grpNo,"13")'>
			,RTRIM(LTRIM(STR(TVALUE1,24,24))) AS TVALUE1, RTRIM(LTRIM(STR(TVALUE2,24,24))) AS TVALUE2
			,RTRIM(LTRIM(STR(TVALUE3,24,24))) AS TVALUE3, RTRIM(LTRIM(STR(TVALUE4,24,24))) AS TVALUE4
			,RTRIM(LTRIM(STR(TVALUE5,24,24))) AS TVALUE5, RTRIM(LTRIM(STR(TVALUE6,24,24))) AS TVALUE6
			,RTRIM(LTRIM(STR(TVALUE7,24,24))) AS TVALUE7, RTRIM(LTRIM(STR(TVALUE8,24,24))) AS TVALUE8
			,RTRIM(LTRIM(STR(TVALUE9,24,24))) AS TVALUE9, RTRIM(LTRIM(STR(TVALUE10,24,24))) AS TVALUE10
			,RTRIM(LTRIM(STR(TVALUE11,24,24))) AS TVALUE11, RTRIM(LTRIM(STR(TVALUE12,24,24))) AS TVALUE12
			,RTRIM(LTRIM(STR(TVALUE13,24,24))) AS TVALUE13, RTRIM(LTRIM(STR(TVALUE14,24,24))) AS TVALUE14
			,RTRIM(LTRIM(STR(TVALUE15,24,24))) AS TVALUE15, RTRIM(LTRIM(STR(TVALUE16,24,24))) AS TVALUE16
			,RTRIM(LTRIM(STR(TVALUE17,24,24))) AS TVALUE17, RTRIM(LTRIM(STR(TVALUE18,24,24))) AS TVALUE18
			,RTRIM(LTRIM(STR(TVALUE19,24,24))) AS TVALUE19, RTRIM(LTRIM(STR(TVALUE20,24,24))) AS TVALUE20
			,RTRIM(LTRIM(STR(TVALUE21,24,24))) AS TVALUE21, RTRIM(LTRIM(STR(TVALUE22,24,24))) AS TVALUE22
			,RTRIM(LTRIM(STR(TVALUE23,24,24))) AS TVALUE23, RTRIM(LTRIM(STR(TVALUE24,24,24))) AS TVALUE24
			,RTRIM(LTRIM(STR(TVALUE25,24,24))) AS TVALUE25, RTRIM(LTRIM(STR(TVALUE26,24,24))) AS TVALUE26
			,RTRIM(LTRIM(STR(TVALUE27,24,24))) AS TVALUE27, RTRIM(LTRIM(STR(TVALUE28,24,24))) AS TVALUE28
			,RTRIM(LTRIM(STR(TVALUE29,24,24))) AS TVALUE29, RTRIM(LTRIM(STR(TVALUE30,24,24))) AS TVALUE30
			,RTRIM(LTRIM(STR(TVALUE31,24,24))) AS TVALUE31, RTRIM(LTRIM(STR(TVALUE32,24,24))) AS TVALUE32
			,RTRIM(LTRIM(STR(TVALUE33,24,24))) AS TVALUE33, RTRIM(LTRIM(STR(TVALUE34,24,24))) AS TVALUE34
			,RTRIM(LTRIM(STR(TVALUE35,24,24))) AS TVALUE35, RTRIM(LTRIM(STR(TVALUE36,24,24))) AS TVALUE36
			,RTRIM(LTRIM(STR(TVALUE37,24,24))) AS TVALUE37, RTRIM(LTRIM(STR(TVALUE38,24,24))) AS TVALUE38
			,RTRIM(LTRIM(STR(TVALUE39,24,24))) AS TVALUE39, RTRIM(LTRIM(STR(TVALUE40,24,24))) AS TVALUE40
			,RTRIM(LTRIM(STR(TVALUE41,24,24))) AS TVALUE41, RTRIM(LTRIM(STR(TVALUE42,24,24))) AS TVALUE42
			,RTRIM(LTRIM(STR(TVALUE43,24,24))) AS TVALUE43, RTRIM(LTRIM(STR(TVALUE44,24,24))) AS TVALUE44
			,RTRIM(LTRIM(STR(TVALUE45,24,24))) AS TVALUE45, RTRIM(LTRIM(STR(TVALUE46,24,24))) AS TVALUE46
			,RTRIM(LTRIM(STR(TVALUE47,24,24))) AS TVALUE47, RTRIM(LTRIM(STR(TVALUE48,24,24))) AS TVALUE48
			,RTRIM(LTRIM(STR(TVALUE49,24,24))) AS TVALUE49, RTRIM(LTRIM(STR(TVALUE50,24,24))) AS TVALUE50
			,RTRIM(LTRIM(STR(TVALUE51,24,24))) AS TVALUE51, RTRIM(LTRIM(STR(TVALUE52,24,24))) AS TVALUE52
			,RTRIM(LTRIM(STR(TVALUE53,24,24))) AS TVALUE53, RTRIM(LTRIM(STR(TVALUE54,24,24))) AS TVALUE54
			,RTRIM(LTRIM(STR(TVALUE55,24,24))) AS TVALUE55
			</if>
			<if test='@org.apache.commons.lang3.StringUtils@equals(menuNo,"11") and @org.apache.commons.lang3.StringUtils@equals(grpNo,"14")'>
			,RTRIM(LTRIM(STR(TVALUE68,24,24))) AS TVALUE68
			,RTRIM(LTRIM(STR(TVALUE69,24,24))) AS TVALUE69, RTRIM(LTRIM(STR(TVALUE70,24,24))) AS TVALUE70
			,RTRIM(LTRIM(STR(TVALUE71,24,24))) AS TVALUE71, RTRIM(LTRIM(STR(TVALUE72,24,24))) AS TVALUE72
			,RTRIM(LTRIM(STR(TVALUE73,24,24))) AS TVALUE73, RTRIM(LTRIM(STR(TVALUE74,24,24))) AS TVALUE74
			,RTRIM(LTRIM(STR(TVALUE75,24,24))) AS TVALUE75, RTRIM(LTRIM(STR(TVALUE76,24,24))) AS TVALUE76
			,RTRIM(LTRIM(STR(TVALUE77,24,24))) AS TVALUE77, RTRIM(LTRIM(STR(TVALUE78,24,24))) AS TVALUE78
			,RTRIM(LTRIM(STR(TVALUE79,24,24))) AS TVALUE79, RTRIM(LTRIM(STR(TVALUE80,24,24))) AS TVALUE80
			,RTRIM(LTRIM(STR(TVALUE81,24,24))) AS TVALUE81, RTRIM(LTRIM(STR(TVALUE82,24,24))) AS TVALUE82
			,RTRIM(LTRIM(STR(TVALUE83,24,24))) AS TVALUE83, RTRIM(LTRIM(STR(TVALUE84,24,24))) AS TVALUE84
			,RTRIM(LTRIM(STR(TVALUE85,24,24))) AS TVALUE85, RTRIM(LTRIM(STR(TVALUE86,24,24))) AS TVALUE86
			,RTRIM(LTRIM(STR(TVALUE87,24,24))) AS TVALUE87, RTRIM(LTRIM(STR(TVALUE88,24,24))) AS TVALUE88
			,RTRIM(LTRIM(STR(TVALUE89,24,24))) AS TVALUE89, RTRIM(LTRIM(STR(TVALUE90,24,24))) AS TVALUE90
			,RTRIM(LTRIM(STR(TVALUE91,24,24))) AS TVALUE91, RTRIM(LTRIM(STR(TVALUE92,24,24))) AS TVALUE92
			,RTRIM(LTRIM(STR(TVALUE93,24,24))) AS TVALUE93, RTRIM(LTRIM(STR(TVALUE94,24,24))) AS TVALUE94
			,RTRIM(LTRIM(STR(TVALUE95,24,24))) AS TVALUE95, RTRIM(LTRIM(STR(TVALUE96,24,24))) AS TVALUE96
			,RTRIM(LTRIM(STR(TVALUE97,24,24))) AS TVALUE97, RTRIM(LTRIM(STR(TVALUE98,24,24))) AS TVALUE98
			,RTRIM(LTRIM(STR(TVALUE99,24,24))) AS TVALUE99, RTRIM(LTRIM(STR(TVALUE100,24,24))) AS TVALUE100
			</if>
    	FROM LOG_${hogi}DCC_TREND
    	WHERE SCANTIME = '${startDate}' AND Seq in (
		SELECT C.TBLNO FROM MST_GrpTag B, MST_TAG_DCC C
		WHERE B.HOGI = C.IHOGI
    	<if test='@org.apache.commons.lang3.StringUtils@equalsIgnoreCase(xyGubun,"X")'>
    		AND B.ISEQ = C.ISEQ
    	</if>
    	<if test='@org.apache.commons.lang3.StringUtils@containsNone(xyGubun,"X") and @org.apache.commons.lang3.StringUtils@containsNone(xyGubun,"x")'>
			AND B.YSEQ = C.ISEQ
		</if>
		AND B.Gubun = 'D'
		AND B.GrpHOGI = #{hogi}
		AND B.ID = #{grpId}
		AND B.MenuNo = #{menuNo}
		AND B.GrpNo = #{grpNo}
		GROUP BY TBLNO
		)
    </select>
    
    <select id="selectLogTrend4" parameterType="DccSearchStatus" resultType="DccLogTrendInfo">
    	SELECT
    		${tblNo} SEQ, SCANTIME
    		<if test='@org.apache.commons.lang3.StringUtils@equals(menuNo,"11") and @org.apache.commons.lang3.StringUtils@equals(grpNo,"2")'>
    		,RTRIM(LTRIM(STR(TVALUE1,24,24))) AS TVALUE1, RTRIM(LTRIM(STR(TVALUE2,24,24))) AS TVALUE2
			,RTRIM(LTRIM(STR(TVALUE3,24,24))) AS TVALUE3, RTRIM(LTRIM(STR(TVALUE4,24,24))) AS TVALUE4
			,RTRIM(LTRIM(STR(TVALUE5,24,24))) AS TVALUE5, RTRIM(LTRIM(STR(TVALUE6,24,24))) AS TVALUE6
			,RTRIM(LTRIM(STR(TVALUE7,24,24))) AS TVALUE7, RTRIM(LTRIM(STR(TVALUE8,24,24))) AS TVALUE8
			,RTRIM(LTRIM(STR(TVALUE9,24,24))) AS TVALUE9, RTRIM(LTRIM(STR(TVALUE10,24,24))) AS TVALUE10
			,RTRIM(LTRIM(STR(TVALUE11,24,24))) AS TVALUE11, RTRIM(LTRIM(STR(TVALUE12,24,24))) AS TVALUE12
			,RTRIM(LTRIM(STR(TVALUE13,24,24))) AS TVALUE13, RTRIM(LTRIM(STR(TVALUE14,24,24))) AS TVALUE14
			,RTRIM(LTRIM(STR(TVALUE15,24,24))) AS TVALUE15, RTRIM(LTRIM(STR(TVALUE16,24,24))) AS TVALUE16
			,RTRIM(LTRIM(STR(TVALUE17,24,24))) AS TVALUE17, RTRIM(LTRIM(STR(TVALUE18,24,24))) AS TVALUE18
			,RTRIM(LTRIM(STR(TVALUE19,24,24))) AS TVALUE19, RTRIM(LTRIM(STR(TVALUE20,24,24))) AS TVALUE20
			,RTRIM(LTRIM(STR(TVALUE21,24,24))) AS TVALUE21, RTRIM(LTRIM(STR(TVALUE22,24,24))) AS TVALUE22
			,RTRIM(LTRIM(STR(TVALUE23,24,24))) AS TVALUE23, RTRIM(LTRIM(STR(TVALUE24,24,24))) AS TVALUE24
			,RTRIM(LTRIM(STR(TVALUE25,24,24))) AS TVALUE25, RTRIM(LTRIM(STR(TVALUE26,24,24))) AS TVALUE26
			,RTRIM(LTRIM(STR(TVALUE27,24,24))) AS TVALUE27, RTRIM(LTRIM(STR(TVALUE28,24,24))) AS TVALUE28
			</if>
			<if test='@org.apache.commons.lang3.StringUtils@equals(menuNo,"11") and @org.apache.commons.lang3.StringUtils@equals(grpNo,"3")'>
    		,RTRIM(LTRIM(STR(TVALUE1,24,24))) AS TVALUE1, RTRIM(LTRIM(STR(TVALUE2,24,24))) AS TVALUE2
			,RTRIM(LTRIM(STR(TVALUE3,24,24))) AS TVALUE3, RTRIM(LTRIM(STR(TVALUE4,24,24))) AS TVALUE4
			,RTRIM(LTRIM(STR(TVALUE5,24,24))) AS TVALUE5, RTRIM(LTRIM(STR(TVALUE6,24,24))) AS TVALUE6
			,RTRIM(LTRIM(STR(TVALUE7,24,24))) AS TVALUE7, RTRIM(LTRIM(STR(TVALUE8,24,24))) AS TVALUE8
			,RTRIM(LTRIM(STR(TVALUE9,24,24))) AS TVALUE9, RTRIM(LTRIM(STR(TVALUE10,24,24))) AS TVALUE10
			,RTRIM(LTRIM(STR(TVALUE11,24,24))) AS TVALUE11, RTRIM(LTRIM(STR(TVALUE12,24,24))) AS TVALUE12
			,RTRIM(LTRIM(STR(TVALUE13,24,24))) AS TVALUE13, RTRIM(LTRIM(STR(TVALUE14,24,24))) AS TVALUE14
			,RTRIM(LTRIM(STR(TVALUE15,24,24))) AS TVALUE15, RTRIM(LTRIM(STR(TVALUE16,24,24))) AS TVALUE16
			,RTRIM(LTRIM(STR(TVALUE17,24,24))) AS TVALUE17, RTRIM(LTRIM(STR(TVALUE18,24,24))) AS TVALUE18
			,RTRIM(LTRIM(STR(TVALUE19,24,24))) AS TVALUE19, RTRIM(LTRIM(STR(TVALUE20,24,24))) AS TVALUE20
			,RTRIM(LTRIM(STR(TVALUE21,24,24))) AS TVALUE21, RTRIM(LTRIM(STR(TVALUE22,24,24))) AS TVALUE22
			,RTRIM(LTRIM(STR(TVALUE23,24,24))) AS TVALUE23, RTRIM(LTRIM(STR(TVALUE24,24,24))) AS TVALUE24
			,RTRIM(LTRIM(STR(TVALUE25,24,24))) AS TVALUE25, RTRIM(LTRIM(STR(TVALUE26,24,24))) AS TVALUE26
			,RTRIM(LTRIM(STR(TVALUE27,24,24))) AS TVALUE27, RTRIM(LTRIM(STR(TVALUE28,24,24))) AS TVALUE28
			,RTRIM(LTRIM(STR(TVALUE29,24,24))) AS TVALUE29, RTRIM(LTRIM(STR(TVALUE30,24,24))) AS TVALUE30
			,RTRIM(LTRIM(STR(TVALUE31,24,24))) AS TVALUE31, RTRIM(LTRIM(STR(TVALUE32,24,24))) AS TVALUE32
			,RTRIM(LTRIM(STR(TVALUE33,24,24))) AS TVALUE33, RTRIM(LTRIM(STR(TVALUE34,24,24))) AS TVALUE34
			,RTRIM(LTRIM(STR(TVALUE35,24,24))) AS TVALUE35, RTRIM(LTRIM(STR(TVALUE36,24,24))) AS TVALUE36
			</if>
			<if test='@org.apache.commons.lang3.StringUtils@equals(menuNo,"11") and @org.apache.commons.lang3.StringUtils@equals(grpNo,"12")'>
			,RTRIM(LTRIM(STR(TVALUE1,24,24))) AS TVALUE1, RTRIM(LTRIM(STR(TVALUE2,24,24))) AS TVALUE2
			,RTRIM(LTRIM(STR(TVALUE3,24,24))) AS TVALUE3, RTRIM(LTRIM(STR(TVALUE4,24,24))) AS TVALUE4
			,RTRIM(LTRIM(STR(TVALUE5,24,24))) AS TVALUE5, RTRIM(LTRIM(STR(TVALUE6,24,24))) AS TVALUE6
			,RTRIM(LTRIM(STR(TVALUE7,24,24))) AS TVALUE7, RTRIM(LTRIM(STR(TVALUE8,24,24))) AS TVALUE8
			,RTRIM(LTRIM(STR(TVALUE9,24,24))) AS TVALUE9, RTRIM(LTRIM(STR(TVALUE10,24,24))) AS TVALUE10
			,RTRIM(LTRIM(STR(TVALUE11,24,24))) AS TVALUE11, RTRIM(LTRIM(STR(TVALUE12,24,24))) AS TVALUE12
			,RTRIM(LTRIM(STR(TVALUE13,24,24))) AS TVALUE13, RTRIM(LTRIM(STR(TVALUE14,24,24))) AS TVALUE14
			,RTRIM(LTRIM(STR(TVALUE15,24,24))) AS TVALUE15, RTRIM(LTRIM(STR(TVALUE16,24,24))) AS TVALUE16
			,RTRIM(LTRIM(STR(TVALUE17,24,24))) AS TVALUE17, RTRIM(LTRIM(STR(TVALUE18,24,24))) AS TVALUE18
			,RTRIM(LTRIM(STR(TVALUE19,24,24))) AS TVALUE19, RTRIM(LTRIM(STR(TVALUE20,24,24))) AS TVALUE20
			,RTRIM(LTRIM(STR(TVALUE21,24,24))) AS TVALUE21, RTRIM(LTRIM(STR(TVALUE22,24,24))) AS TVALUE22
			,RTRIM(LTRIM(STR(TVALUE23,24,24))) AS TVALUE23, RTRIM(LTRIM(STR(TVALUE24,24,24))) AS TVALUE24
			,RTRIM(LTRIM(STR(TVALUE25,24,24))) AS TVALUE25, RTRIM(LTRIM(STR(TVALUE26,24,24))) AS TVALUE26
			,RTRIM(LTRIM(STR(TVALUE27,24,24))) AS TVALUE27, RTRIM(LTRIM(STR(TVALUE28,24,24))) AS TVALUE28
			,RTRIM(LTRIM(STR(TVALUE29,24,24))) AS TVALUE29, RTRIM(LTRIM(STR(TVALUE30,24,24))) AS TVALUE30
			,RTRIM(LTRIM(STR(TVALUE31,24,24))) AS TVALUE31, RTRIM(LTRIM(STR(TVALUE32,24,24))) AS TVALUE32
			,RTRIM(LTRIM(STR(TVALUE33,24,24))) AS TVALUE33, RTRIM(LTRIM(STR(TVALUE34,24,24))) AS TVALUE34
			,RTRIM(LTRIM(STR(TVALUE35,24,24))) AS TVALUE35, RTRIM(LTRIM(STR(TVALUE36,24,24))) AS TVALUE36
			,RTRIM(LTRIM(STR(TVALUE37,24,24))) AS TVALUE37, RTRIM(LTRIM(STR(TVALUE38,24,24))) AS TVALUE38
			,RTRIM(LTRIM(STR(TVALUE39,24,24))) AS TVALUE39, RTRIM(LTRIM(STR(TVALUE40,24,24))) AS TVALUE40
			,RTRIM(LTRIM(STR(TVALUE41,24,24))) AS TVALUE41, RTRIM(LTRIM(STR(TVALUE42,24,24))) AS TVALUE42
			,RTRIM(LTRIM(STR(TVALUE43,24,24))) AS TVALUE43, RTRIM(LTRIM(STR(TVALUE44,24,24))) AS TVALUE44
			,RTRIM(LTRIM(STR(TVALUE45,24,24))) AS TVALUE45, RTRIM(LTRIM(STR(TVALUE46,24,24))) AS TVALUE46
			,RTRIM(LTRIM(STR(TVALUE47,24,24))) AS TVALUE47, RTRIM(LTRIM(STR(TVALUE48,24,24))) AS TVALUE48
			,RTRIM(LTRIM(STR(TVALUE49,24,24))) AS TVALUE49, RTRIM(LTRIM(STR(TVALUE50,24,24))) AS TVALUE50
			,RTRIM(LTRIM(STR(TVALUE51,24,24))) AS TVALUE51, RTRIM(LTRIM(STR(TVALUE52,24,24))) AS TVALUE52
			,RTRIM(LTRIM(STR(TVALUE53,24,24))) AS TVALUE53, RTRIM(LTRIM(STR(TVALUE54,24,24))) AS TVALUE54
			,RTRIM(LTRIM(STR(TVALUE55,24,24))) AS TVALUE55, RTRIM(LTRIM(STR(TVALUE56,24,24))) AS TVALUE56
			,RTRIM(LTRIM(STR(TVALUE57,24,24))) AS TVALUE57, RTRIM(LTRIM(STR(TVALUE58,24,24))) AS TVALUE58
			,RTRIM(LTRIM(STR(TVALUE59,24,24))) AS TVALUE59, RTRIM(LTRIM(STR(TVALUE60,24,24))) AS TVALUE60
			,RTRIM(LTRIM(STR(TVALUE61,24,24))) AS TVALUE61, RTRIM(LTRIM(STR(TVALUE62,24,24))) AS TVALUE62
			,RTRIM(LTRIM(STR(TVALUE63,24,24))) AS TVALUE63, RTRIM(LTRIM(STR(TVALUE64,24,24))) AS TVALUE64
			,RTRIM(LTRIM(STR(TVALUE65,24,24))) AS TVALUE65, RTRIM(LTRIM(STR(TVALUE66,24,24))) AS TVALUE66
			,RTRIM(LTRIM(STR(TVALUE67,24,24))) AS TVALUE67
			</if>
			<if test='@org.apache.commons.lang3.StringUtils@equals(menuNo,"11") and @org.apache.commons.lang3.StringUtils@equals(grpNo,"13")'>
			,RTRIM(LTRIM(STR(TVALUE68,24,24))) AS TVALUE68
			,RTRIM(LTRIM(STR(TVALUE69,24,24))) AS TVALUE69, RTRIM(LTRIM(STR(TVALUE70,24,24))) AS TVALUE70
			,RTRIM(LTRIM(STR(TVALUE71,24,24))) AS TVALUE71, RTRIM(LTRIM(STR(TVALUE72,24,24))) AS TVALUE72
			,RTRIM(LTRIM(STR(TVALUE73,24,24))) AS TVALUE73, RTRIM(LTRIM(STR(TVALUE74,24,24))) AS TVALUE74
			,RTRIM(LTRIM(STR(TVALUE75,24,24))) AS TVALUE75, RTRIM(LTRIM(STR(TVALUE76,24,24))) AS TVALUE76
			,RTRIM(LTRIM(STR(TVALUE77,24,24))) AS TVALUE77, RTRIM(LTRIM(STR(TVALUE78,24,24))) AS TVALUE78
			,RTRIM(LTRIM(STR(TVALUE79,24,24))) AS TVALUE79, RTRIM(LTRIM(STR(TVALUE80,24,24))) AS TVALUE80
			,RTRIM(LTRIM(STR(TVALUE81,24,24))) AS TVALUE81, RTRIM(LTRIM(STR(TVALUE82,24,24))) AS TVALUE82
			,RTRIM(LTRIM(STR(TVALUE83,24,24))) AS TVALUE83, RTRIM(LTRIM(STR(TVALUE84,24,24))) AS TVALUE84
			,RTRIM(LTRIM(STR(TVALUE85,24,24))) AS TVALUE85, RTRIM(LTRIM(STR(TVALUE86,24,24))) AS TVALUE86
			,RTRIM(LTRIM(STR(TVALUE87,24,24))) AS TVALUE87, RTRIM(LTRIM(STR(TVALUE88,24,24))) AS TVALUE88
			,RTRIM(LTRIM(STR(TVALUE89,24,24))) AS TVALUE89, RTRIM(LTRIM(STR(TVALUE90,24,24))) AS TVALUE90
			,RTRIM(LTRIM(STR(TVALUE91,24,24))) AS TVALUE91, RTRIM(LTRIM(STR(TVALUE92,24,24))) AS TVALUE92
			,RTRIM(LTRIM(STR(TVALUE93,24,24))) AS TVALUE93, RTRIM(LTRIM(STR(TVALUE94,24,24))) AS TVALUE94
			,RTRIM(LTRIM(STR(TVALUE95,24,24))) AS TVALUE95, RTRIM(LTRIM(STR(TVALUE96,24,24))) AS TVALUE96
			,RTRIM(LTRIM(STR(TVALUE97,24,24))) AS TVALUE97, RTRIM(LTRIM(STR(TVALUE98,24,24))) AS TVALUE98
			,RTRIM(LTRIM(STR(TVALUE99,24,24))) AS TVALUE99, RTRIM(LTRIM(STR(TVALUE100,24,24))) AS TVALUE100
			</if>
    	FROM LOG_${hogi}DCC_TREND${tblNo}
    	WHERE
    	<if test='@org.apache.commons.lang3.StringUtils@isNotEmpty(startDate)'>
			SCANTIME <![CDATA[>]]> DATEADD(SECOND,-5,'${startDate}') AND SCANTIME <![CDATA[<=]]> '${startDate}'
		</if>
		<if test='@org.apache.commons.lang3.StringUtils@isEmpty(startDate)'>
    		SCANTIME = '${scanTime}'
   		</if>
    </select>
    
    <select id="selectDccGrpTag" parameterType="DccSearchStatus" resultType="DccGrpTagInfo">
	    	SELECT
				C.iSeq AS iSeq,
				ISNULL(BSCAL,'') AS bscal,
				ISNULL(LOOPNAME,'') AS loopName,
				ISNULL(CASE UNIT
					WHEN 'G:SEC' THEN 'G/S'
					WHEN 'KG:HR' THEN 'KG/HR'
					WHEN 'L:MIN' THEN 'L/MIN'
					WHEN 'L:SEC' THEN 'L/S'
					WHEN 'M3:HR' THEN 'M3/H'
					WHEN 'ML:S' THEN 'ML/S'
					WHEN 'DECADE' THEN 'DEC'
					WHEN 'FP:HR' THEN 'FP/HR'
					WHEN 'VOLTS' THEN 'V'
					WHEN 'DEGC:H' THEN 'DEGC/H'
					WHEN 'M:MIN' THEN 'M/MIN'
					WHEN 'MM:HR' THEN 'MM/HR'
					WHEN 'MM:SEC' THEN 'MM/S'
					WHEN 'MW:MIN' THEN 'MW/MIN'
					WHEN 'METERS' THEN 'M'
					WHEN 'METRES' THEN 'M'
					WHEN 'MS:M' THEN 'MSIE/M'
					WHEN 'US:M' THEN 'USIE/M'
					WHEN 'CI:M3' THEN 'CI/M3'
					WHEN 'DEC:S' THEN 'DEC/S'
					WHEN 'KCNT:M' THEN 'KCNT/M'
					WHEN 'KCNT:S' THEN 'KCNT/S'
					WHEN 'MCI:M3' THEN 'MCI/M3'
					WHEN 'MGY:HR' THEN 'mGy/hr'
					WHEN 'MGY/HR' THEN 'mGy/hr'
					WHEN 'MILLIK' THEN 'MK'
					WHEN 'MR:HR' THEN 'MREM/H'
					WHEN 'R:HR' THEN 'REM/H'
					WHEN 'DEGC' THEN '°C'
					WHEN 'DEG C' THEN '°C'
					WHEN 'LD:LG' THEN 'KD/LAG'
					WHEN 'NOTAVL' THEN 'N/A'
					WHEN 'PERU' THEN 'P.U.'
					ELSE UNIT
				END,'') AS unit,
				ISNULL(LIMIT1,'-32768') AS limit1,
				ISNULL(LIMIT2,'-32768') AS limit2,
				ISNULL(TYPE,0) AS type,
				ISNULL(IOTYPE,'') AS ioType,
				ADDRESS AS address,
				ISNULL(IOBIT,'') AS ioBit,
				ISNULL(C.TBLNO,'-32768') AS tblNo,
				ISNULL(FLDNO,'-32768') AS fldNo,
				ISNULL(SaveCoreChk,0) AS SaveCoreChk,
				ISNULL(C.Descr,'') AS descr,
				ISNULL(B.Descr,'') AS dataLoop,
				GrpHogi AS grpHogi,
				ISNULL(B.MinVal,0) AS minVal,
				ISNULL(B.MaxVal,100) AS maxVal,
				Hogi AS hogi,
				XYGubun AS xyGubun,
				ISNULL(ELOW,0) AS eLow,
				ISNULL(EHIGH,0) AS eHigh,
				ISNULL(VLOW,0) AS vLow,
				ISNULL(VHIGH,0) AS vHigh,
				FASTIOCHK AS fastIoChk,
				ISNULL((SELECT FLDNO FROM MST_TAG_DCC WHERE IHOGI = B.HOGI AND ADDRESS = C.ADDRESS AND IOTYPE IN ('FTAI','FTDT') AND FASTIOCHK = C.FASTIOCHK),FLDNO) AS fldNoFast 
			FROM MST_GrpTag B, MST_TAG_DCC C
			WHERE B.HOGI = C.IHOGI
    	<if test='@org.apache.commons.lang3.StringUtils@equalsIgnoreCase(xyGubun,"X")'>
    		AND B.ISEQ = C.ISEQ
    	</if>
    	<if test='@org.apache.commons.lang3.StringUtils@containsNone(xyGubun,"X") and @org.apache.commons.lang3.StringUtils@containsNone(xyGubun,"x")'>
			AND B.YSEQ = C.ISEQ
		</if>
			AND B.Gubun = 'D'
			AND B.GrpHOGI = #{hogi}
			AND B.ID = #{grpId}
			AND B.MenuNo = #{menuNo}
			AND B.GrpNo = #{grpNo}
			ORDER BY B.TagNo
    </select>
    
    <select id="selectTagSearch" parameterType="DccSearchStatus" resultType="DccMstTagInfo">
    	SELECT
    		IHOGI,
    		XYGUBUN,
    		DESCR,
    		IOTYPE,
    		ADDRESS,
    		IOBIT,
    		ISEQ,
    		LOOPNAME
    	FROM MST_TAG_DCC
    	WHERE IHOGI = #{txtHogi} AND ADDRESS = #{txtAddress}
    	<if test='@org.apache.commons.lang3.StringUtils@isNotEmpty(txtIoType)'>
    		AND IOTYPE = #{txtIoType}
    	</if>
    	<if test='@org.apache.commons.lang3.StringUtils@isNotEmpty(txtIoBit)'>
    		AND IOBIT = #{txtIoBit}
    	</if>
    </select>
    
    <select id="selectTagFind" parameterType="DccSearchStatus" resultType="DccMstTagInfo">
    	SELECT
			ISEQ,
    		IHOGI,
    		XYGUBUN,
    		LOOPNAME,
    		IOTYPE,
    		ADDRESS,
    		IOBIT,
    		DESCR
		FROM MST_TAG_DCC
		WHERE IHOGI = #{txtHogi} AND (ADDRESS like '${searchStr}%'
		<if test='@org.apache.commons.lang3.StringUtils@isNotEmpty(searchStr)'>
			<if test='@org.apache.commons.lang3.StringUtils@containsNone(findAll,"1")'>
				<if test='@org.apache.commons.lang3.StringUtils@equals(chkOpt1,"1")'>
		        	OR LOOPNAME like '%${searchStr}%'
		        </if>
				<if test='@org.apache.commons.lang3.StringUtils@equals(chkOpt2,"1")'>
		        	OR DESCR like '%${searchStr}%'
		        </if>
	        </if>
        </if>
    	) ORDER BY ISEQ
    </select>
    
    <select id="selectSeqInfo" parameterType="DccSearchStatus" resultType="String">
    	SELECT
			CONVERT(VARCHAR(10),ISNULL(a.ISEQ,''))+'_'+CONVERT(VARCHAR(10),ISNULL(b.ISEQ,'')) AS SEQS
		FROM MST_TAG_DCC a, MST_TAG_DCC b
		WHERE a.IHOGI = b.IHOGI
		AND a.IOTYPE = b.IOTYPE
		AND a.ADDRESS = b.ADDRESS
		<if test='@org.apache.commons.lang3.StringUtils@isNotEmpty(txtIoBit)'>
		AND a.IOBIT = b.IOBIT
		</if>
		AND a.IHOGI = #{txtHogi}
		AND a.IOTYPE = #{txtIoType}
		AND a.ADDRESS = #{txtAddress}
		<if test='@org.apache.commons.lang3.StringUtils@isNotEmpty(txtIoBit)'>
		AND a.IOBIT = #{txtIoBit}
		</if>
		AND a.XYGUBUN = 'X'
		AND b.XYGUBUN = 'Y'
    </select>
    
    <update id="updateTagInfo" parameterType="DccSearchStatus" >
    	UPDATE MST_GRPTAG SET
		Hogi = #{txtHogi}
		<if test='@org.apache.commons.lang3.StringUtils@equals(chkXy,"1")'>
			,ISEQ = #{iSeq}
			,YSEQ = #{ySeq}
		</if>
		<if test='@org.apache.commons.lang3.StringUtils@containsNone(chkXy,"1")'>
			<if test='@org.apache.commons.lang3.StringUtils@equalsIgnoreCase(xyGubun,"X")'>
				,ISEQ = #{iSeq}
			</if>
			<if test='@org.apache.commons.lang3.StringUtils@containsNone(xyGubun,"X") and @org.apache.commons.lang3.StringUtils@containsNone(xyGubun,"x")'>
				,YSEQ = #{ySeq}
			</if>
		</if>
		WHERE GUBUN = #{gubun}
		AND ID = #{grpId}
		AND MENUNO = #{menuNo}
		AND GRPNO = #{grpNo}
		AND GrpHOGI = #{hogi}
		AND TAGNO = #{tagNo}
    </update>
</mapper>
