<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mkpenc.dcc.common.mapper.BasDccMimicMapper">

<select id="selectDccGrpTagList" parameterType="java.util.Map" resultType="ComDccGrpTagInfo">
        
			      SELECT 
			         		 C.iSeq
			         		, BSCAL
			         		, LOOPNAME
			         		, UNIT
			         		, LIMIT1
			         		, LIMIT2
			         		, TYPE
			         		, IOTYPE
			         		, ADDRESS
			         		, IOBIT
			         		, C.TBLNO
			         		, FLDNO
			         		, SaveCoreChk
			         		, C.Descr
			         		, B.Descr as DataLoop
			         		, GrpHogi
		        			, B.MinVal
		        			, B.MaxVal
		        			, Hogi
		        			, XYGubun
		        			, ELOW
		        			, EHIGH
		        			, VLOW
		        			, VHIGH
		        			, FASTIOCHK
		         FROM MST_GrpTag B, MST_TAG_DCC C
		         WHERE B.HOGI = C.IHOGI 
		            <if test='@org.apache.commons.lang3.StringUtils@isNotEmpty(xyGubun) and "X".equals(xyGubun)'>
		           			AND B.ISEQ = C.ISEQ
		           	</if>
		            <if test='@org.apache.commons.lang3.StringUtils@isNotEmpty(xyGubun) and "Y".equals(xyGubun)'>
		           			AND B.YSEQ = C.ISEQ
		           	</if>  
		            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(hogi)">
		            		AND B.GrpHOGI = #{hogi}
		            </if>
		         	<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(dive)">
	            			AND B.Gubun = #{dive}
	        		</if>
	        		<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(grpID)">
	            			AND B.ID = #{grpID}
	        		</if>
	        		<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(menuNo)">
	            			AND B.MenuNo = #{menuNo}
	        		</if>      
	        		<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(uGrpNo)">
	            			AND B.GrpNo = #{uGrpNo}
	        		</if>		                  
    </select>    
    
    <select id="selectFastIoChk" parameterType="ComDccGrpTagInfo" resultType="String">
        	SELECT FLDNO 
        	 FROM MST_TAG_DCC 
            WHERE IHOGI = #{Hogi}
               AND ADDRESS = #{ADDRESS}
               AND IOTYPE IN ('FTAI','FTDT')
    </select>
    
    <select id="selectScanTime" parameterType="java.util.Map" resultType="java.util.Map">
        	SELECT Convert(varchar,ScanTime,120) as SCANTIME
        	 FROM LOG_Timer
            WHERE GUBUN = 'D'
               AND HOGI = #{hogi}
                AND DATATYPE = #{xyGubun}
    </select>
        
 	<select id="selectTblNoFldNo" parameterType="java.util.Map" resultType="java.util.Map">
        	SELECT C.TBLNO, C.FLDNO 
        	 FROM MST_GRPTAG B, MST_TAG_DCC C 
        	WHERE B.HOGI = C.IHOGI
			<if test='@org.apache.commons.lang3.StringUtils@isNotEmpty(xyGubun) and "X".equals(xyGubun)'>
           			AND B.ISEQ = C.ISEQ
           	</if>
            <if test='@org.apache.commons.lang3.StringUtils@isNotEmpty(xyGubun) and "Y".equals(xyGubun)'>
           			AND B.YSEQ = C.ISEQ
           	</if>  
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(hogi)">
            		AND B.GrpHOGI = #{hogi}
            </if>
         	<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(dive)">
           			AND B.Gubun = #{dive}
       		</if>
       		<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(grpID)">
           			AND B.ID = #{grpID}
       		</if>
       		<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(menuNo)">
           			AND B.MenuNo = #{menuNo}
       		</if>      
       		<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(uGrpNo)">
           			AND B.GrpNo = #{uGrpNo}
       		</if>		                          		
        	ORDER BY B.TAGNO	                  
    </select>       
    
    <select id="selectLogDccTrend" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT * 
         FROM LOG_${hogi}DCC_TREND
    	 WHERE Scantime = #{pSCanTime}
    	  AND Seq in (
    						SELECT C.TBLNO 
    						 FROM MST_GrpTag B, MST_TAG_DCC C
     					   WHERE B.HOGI = C.IHOGI 
     					     <if test='@org.apache.commons.lang3.StringUtils@isNotEmpty(xyGubun) and "Y".equals(xyGubun)'>
		           					AND B.YSEQ = C.ISEQ
				           	</if>  
				            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(hogi)">
				            		AND B.GrpHOGI = #{hogi}
				            </if>
				         	<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(dive)">
				           			AND B.Gubun = #{dive}
				       		</if>
				       		<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(grpID)">
				           			AND B.ID = #{grpID}
				       		</if>
				       		<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(menuNo)">
				           			AND B.MenuNo = #{menuNo}
				       		</if>      
				       		<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(uGrpNo)">
				           			AND B.GrpNo = #{uGrpNo}
				       		</if>		             
     					)
    </select>         
    
    <select id="selectLogDccTrend4Hogi" parameterType="java.util.Map" resultType="java.util.Map">
      	SELECT ${tblnoGrp} SEQ, * 
      	 FROM LOG_${hogi}DCC_TREND${tblnoGrp}
      	  <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(startDate)">
	      	 WHERE WHERE Scantime <![CDATA[>]]>  DATEADD(SECOND, -5,#{pSCanTime}) AND Scantime <![CDATA[<=]]> #{pSCanTime}
      	 </if>
      	 <if test="@org.apache.commons.lang3.StringUtils@isEmpty(startDate)">
	      	 WHERE WHERE Scantime = #{pSCanTime}
      	 </if>
    </select>     
    
    
    <select id="selectTagSearch" parameterType="DccSearchMimic" resultType="ComShowTagInfo">
    	SELECT
    		IHOGI,
    		XYGUBUN,
    		DESCR,
    		IOTYPE,
    		ADDRESS,
    		IOBIT,
    		ISEQ,
    		LOOPNAME
    	FROM MST_TAG_DCC
    	WHERE IHOGI = #{txtHogi} AND ADDRESS = #{txtAddress}
    	<if test='@org.apache.commons.lang3.StringUtils@isNotEmpty(txtIoType)'>
    		AND IOTYPE = #{txtIoType}
    	</if>
    	<if test='@org.apache.commons.lang3.StringUtils@isNotEmpty(txtIoBit)'>
    		AND IOBIT = #{txtIoBit}
    	</if>
    </select>
    
    <select id="selectTagFind" parameterType="DccSearchMimic" resultType="ComShowTagInfo">
    	SELECT
			ISEQ,
    		IHOGI,
    		XYGUBUN,
    		LOOPNAME,
    		IOTYPE,
    		ADDRESS,
    		IOBIT,
    		DESCR
		FROM MST_TAG_DCC
		WHERE IHOGI = #{txtHogi} AND (ADDRESS like '${searchStr}%'
		<if test='@org.apache.commons.lang3.StringUtils@isNotEmpty(searchStr)'>
			<if test='@org.apache.commons.lang3.StringUtils@containsNone(findAll,"1")'>
				<if test='@org.apache.commons.lang3.StringUtils@equals(chkOpt1,"1")'>
		        	OR LOOPNAME like '%${searchStr}%'
		        </if>
				<if test='@org.apache.commons.lang3.StringUtils@equals(chkOpt2,"1")'>
		        	OR DESCR like '%${searchStr}%'
		        </if>
	        </if>
        </if>
    	) ORDER BY ISEQ
    </select>
    
    <select id="selectSeqInfo" parameterType="DccSearchMimic" resultType="String">
    	SELECT
			CONVERT(VARCHAR(10),ISNULL(a.ISEQ,''))+'_'+CONVERT(VARCHAR(10),ISNULL(b.ISEQ,'')) AS SEQS
		FROM MST_TAG_DCC a, MST_TAG_DCC b
		WHERE a.IHOGI = b.IHOGI
		AND a.IOTYPE = b.IOTYPE
		AND a.ADDRESS = b.ADDRESS
		<if test='@org.apache.commons.lang3.StringUtils@isNotEmpty(txtIoBit)'>
		AND a.IOBIT = b.IOBIT
		</if>
		AND a.IHOGI = #{txtHogi}
		AND a.IOTYPE = #{txtIoType}
		AND a.ADDRESS = #{txtAddress}
		<if test='@org.apache.commons.lang3.StringUtils@isNotEmpty(txtIoBit)'>
		AND a.IOBIT = #{txtIoBit}
		</if>
		AND a.XYGUBUN = 'X'
		AND b.XYGUBUN = 'Y'
    </select>
    
    <update id="updateTagInfo" parameterType="DccSearchMimic" >
    	UPDATE MST_GRPTAG SET
		Hogi = #{txtHogi}
		<if test='@org.apache.commons.lang3.StringUtils@equals(chkXy,"1")'>
			,ISEQ = #{iSeq}
			,YSEQ = #{ySeq}
		</if>
		<if test='@org.apache.commons.lang3.StringUtils@containsNone(chkXy,"1")'>
			<if test='@org.apache.commons.lang3.StringUtils@equalsIgnoreCase(xyGubun,"X")'>
				,ISEQ = #{iSeq}
			</if>
			<if test='@org.apache.commons.lang3.StringUtils@containsNone(xyGubun,"X") and @org.apache.commons.lang3.StringUtils@containsNone(xyGubun,"x")'>
				,YSEQ = #{ySeq}
			</if>
		</if>
		WHERE GUBUN = #{gubun}
		AND ID = #{grpId}
		AND MENUNO = #{menuNo}
		AND GRPNO = #{grpNo}
		AND GrpHOGI = #{hogi}
		AND TAGNO = #{tagNo}
    </update>       

</mapper>