<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mkpenc.dcc.common.mapper.BasDccOsmsMapper">

<select id="selectDccGrpTagList" parameterType="java.util.Map" resultType="ComDccGrpTagInfo">
        
			      SELECT 
			         		 C.iSeq
			         		, BSCAL
			         		, LOOPNAME
			         		, UNIT
			         		, LIMIT1
			         		, LIMIT2
			         		, TYPE
			         		, IOTYPE
			         		, ADDRESS
			         		, IOBIT
			         		, C.TBLNO
			         		, FLDNO
			         		, SaveCoreChk
			         		, C.Descr as Descr
			         		, B.Descr as DataLoop
			         		, GrpHogi
		        			, ROUND(B.MinVal, 2) as MinVal
		        			, ROUND(B.MaxVal, 2) as MaxVal
		        			, Hogi
		        			, XYGubun
		        			, ELOW
		        			, EHIGH
		        			, VLOW
		        			, VHIGH
		        			, FASTIOCHK
		         FROM MST_GrpTag B, MST_TAG_DCC C
		         WHERE B.HOGI = C.IHOGI 
		            <if test='@org.apache.commons.lang3.StringUtils@isNotEmpty(xyGubun) and "X".equals(xyGubun)'>
		           			AND B.ISEQ = C.ISEQ
		           	</if>
		            <if test='@org.apache.commons.lang3.StringUtils@isNotEmpty(xyGubun) and "Y".equals(xyGubun)'>
		           			AND B.YSEQ = C.ISEQ
		           	</if>  
		            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(hogi)">
		            		AND B.GrpHOGI = #{hogi}
		            </if>
		         	<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(dive)">
	            			AND B.Gubun = #{dive}
	        		</if>
	        		<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(grpID)">
	            			AND B.ID = #{grpID}
	        		</if>
	        		<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(menuNo)">
	            			AND B.MenuNo = #{menuNo}
	        		</if>      
	        		<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(uGrpNo)">
	            			AND B.GrpNo = #{uGrpNo}
	        		</if>	
	        		ORDER BY B.TagNo	                  
    </select>    
    
    <select id="selectFastIoChk" parameterType="DccGrpTagInfo" resultType="String">
        	SELECT FLDNO 
        	 FROM MST_TAG_DCC 
            WHERE IHOGI = #{Hogi}
               AND ADDRESS = #{ADDRESS}
               AND IOTYPE IN ('FTAI','FTDT')
    </select>
    
    <select id="selectScanTime" parameterType="java.util.Map" resultType="java.util.Map">
        	SELECT Convert(varchar,ScanTime,120) as SCANTIME
        	 FROM LOG_Timer
            WHERE GUBUN = 'D'
               AND HOGI = #{hogi}
                AND DATATYPE = #{xyGubun}
    </select>
        
 	<select id="selectTblNoFldNo" parameterType="java.util.Map" resultType="java.util.Map">
        	SELECT C.TBLNO, C.FLDNO 
        	 FROM MST_GRPTAG B, MST_TAG_DCC C 
        	WHERE B.HOGI = C.IHOGI
			<if test='@org.apache.commons.lang3.StringUtils@isNotEmpty(xyGubun) and "X".equals(xyGubun)'>
           			AND B.ISEQ = C.ISEQ
           	</if>
            <if test='@org.apache.commons.lang3.StringUtils@isNotEmpty(xyGubun) and "Y".equals(xyGubun)'>
           			AND B.YSEQ = C.ISEQ
           	</if>  
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(hogi)">
            		AND B.GrpHOGI = #{hogi}
            </if>
         	<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(dive)">
           			AND B.Gubun = #{dive}
       		</if>
       		<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(grpID)">
           			AND B.ID = #{grpID}
       		</if>
       		<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(menuNo)">
           			AND B.MenuNo = #{menuNo}
       		</if>      
       		<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(uGrpNo)">
           			AND B.GrpNo = #{uGrpNo}
       		</if>		                          		
        	ORDER BY B.TAGNO	                  
    </select>       
    
    <select id="selectLogDccTrend" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT * 
         FROM LOG_${hogi}DCC_TREND
    	 WHERE Scantime = #{pSCanTime}
    	  AND Seq in (
    						SELECT C.TBLNO 
    						 FROM MST_GrpTag B, MST_TAG_DCC C
     					   WHERE B.HOGI = C.IHOGI 
     					     <if test='@org.apache.commons.lang3.StringUtils@isNotEmpty(xyGubun) and "X".equals(xyGubun)'>
		           					AND B.ISEQ = C.ISEQ
				           	</if> 
     					     <if test='@org.apache.commons.lang3.StringUtils@isNotEmpty(xyGubun) and "Y".equals(xyGubun)'>
		           					AND B.YSEQ = C.ISEQ
				           	</if>  
				            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(hogi)">
				            		AND B.GrpHOGI = #{hogi}
				            </if>
				         	<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(dive)">
				           			AND B.Gubun = #{dive}
				       		</if>
				       		<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(grpID)">
				           			AND B.ID = #{grpID}
				       		</if>
				       		<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(menuNo)">
				           			AND B.MenuNo = #{menuNo}
				       		</if>      
				       		<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(uGrpNo)">
				           			AND B.GrpNo = #{uGrpNo}
				       		</if>	
				       		GROUP BY TBLNO	             
     					)
    </select>         
    
    <select id="selectLogDccTrend4Hogi" parameterType="java.util.Map" resultType="java.util.Map">
      	SELECT ${tblnoGrp} SEQ, * 
      	 FROM LOG_${hogi}DCC_TREND${tblnoGrp}
      	  <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(startDate)">
	      	 WHERE Scantime <![CDATA[>]]>  DATEADD(SECOND, -5,#{pSCanTime}) AND Scantime <![CDATA[<=]]> #{pSCanTime}
      	 </if>
      	 <if test="@org.apache.commons.lang3.StringUtils@isEmpty(startDate)">
	      	 WHERE Scantime = #{pSCanTime}
      	 </if>
    </select>       
    
    <select id="selectDccGrpTagListB" parameterType="java.util.Map" resultType="java.util.Map">
		<if test='@org.apache.commons.lang3.StringUtils@equalsIgnoreCase(dive,"d")'>
			SELECT
				b.Iseq iSeq,
				b.gubun,
				b.hogi,
				c.xyGubun,
				b.Descr,
				c.ioType,
				c.address,
				c.ioBit,
				b.minVal,
				b.maxVal,
				b.saveCoreChk
			FROM MST_GrpTag_B B, MST_TAG_DCC C
			<trim prefix="WHERE" prefixOverrides="AND | OR">
			AND B.HOGI = C.IHOGI
			AND B.ISEQ = C.ISEQ
			<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(grpID)">
				AND B.ID = #{grpID}
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(hogi)">
				AND B.GrpHOGI = #{hogi}
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(menuNo)">
				AND B.MenuNo = #{menuNo}
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(uGrpNo)">
				AND B.GrpNo = #{uGrpNo}
			</if>
			</trim>
			AND B.Gubun = 'D'
		</if>
		<if test='!@org.apache.commons.lang3.StringUtils@equalsIgnoreCase(dive,"d")'>
			SELECT
				b.Iseq iSeq_M,
				b.gubun gubun_M,
				b.hogi hogi_M,
				'' xyGubun_M,
				b.Descr Descr_M,
				c.iotype ioType_M,
				c.register register_M,
				c.iobit ioBit_M,
				b.minval minVal_M,
				b.maxval maxVal_M,
				'' saveCoreChk_M
			FROM mst_grptag_b b, markdb.dbo.mst_tag_mark c
			<trim prefix="WHERE" prefixOverrides="AND | OR">
			AND B.HOGI = C.HOGI
			AND B.ISEQ = C.ISEQ
			<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(grpID)">
				AND B.GrpHOGI = #{grpID}
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(hogi)">
				AND B.ID = #{hogi}
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(menuNo)">
				AND B.MenuNo = #{menuNo}
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(uGrpNo)">
				AND B.GrpNo = #{uGrpNo}
			</if>
			</trim>
			AND B.Gubun = 'M'
		</if>
		ORDER BY B.TagNo
	</select>    
	
	<select id="selectDccGrpTagListA" parameterType="java.util.Map" resultType="java.util.Map">
		<if test='@org.apache.commons.lang3.StringUtils@equalsIgnoreCase(dive,"d")'>
			SELECT
				b.Iseq iSeq,
				b.gubun,
				b.hogi,
				c.xyGubun,
				b.Descr,
				c.ioType,
				c.address,
				c.ioBit,
				b.minVal,
				b.maxVal,
				b.saveCoreChk
			FROM MST_GrpTag B, MST_TAG_DCC C
			<trim prefix="WHERE" prefixOverrides="AND | OR">
			AND B.HOGI = C.IHOGI
			AND B.ISEQ = C.ISEQ
			<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(grpID)">
				AND B.ID = #{grpID}
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(hogi)">
				AND B.GrpHOGI = #{hogi}
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(menuNo)">
				AND B.MenuNo = #{menuNo}
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(uGrpNo)">
				AND B.GrpNo = #{uGrpNo}
			</if>
			</trim>
			AND B.Gubun = 'D'
		</if>
		<if test='!@org.apache.commons.lang3.StringUtils@equalsIgnoreCase(dive,"d")'>
			SELECT
				b.Iseq iSeq_M,
				b.gubun gubun_M,
				b.hogi hogi_M,
				'' xyGubun_M,
				b.Descr Descr_M,
				c.iotype ioType_M,
				c.register register_M,
				c.iobit ioBit_M,
				b.minval minVal_M,
				b.maxval maxVal_M,
				'' saveCoreChk_M
			FROM mst_grptag_b b, markdb.dbo.mst_tag_mark c
			<trim prefix="WHERE" prefixOverrides="AND | OR">
			AND B.HOGI = C.HOGI
			AND B.ISEQ = C.ISEQ
			<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(grpID)">
				AND B.GrpHOGI = #{grpID}
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(hogi)">
				AND B.ID = #{hogi}
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(menuNo)">
				AND B.MenuNo = #{menuNo}
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(uGrpNo)">
				AND B.GrpNo = #{uGrpNo}
			</if>
			</trim>
			AND B.Gubun = 'M'
		</if>
		ORDER BY B.TagNo
	</select> 

</mapper>